<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="UTF-8">
    <title>title</title>
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!-- header -->
    <header class="header">
        <h1 class="header__title">clean-webpack-boilerplate</h1>
    </header>

    <!-- content -->
    <section class="content">
        <p class="content__text">Some details about lorem ipsum.</p>
        <p><a href="/">Home</a></p>
    </section>

    <!-- footer -->
    <footer class="footer">
        <p class="footer__text">Footer text. Disclaimer. Current year</p>
    </footer>
</body>

</html>
