/* IMPORTANT: This file is for :root variables only. */

:root {
    /* theme colors */
    --body-bg-color: #fefefe;
    --body-font-color: #333;
    --anchor-font-color: #419cc2;

    /* typography */
    --font-sans: 'Helvetica Neue', Helvetica, sans-serif;

    /* dimensions */
    --body-font-size: responsive 0.9rem 1.1rem;
    --body-font-size-small: responsive 0.9rem 1rem;
    --body-font-range: 34rem 48rem;
    --content-width-min: 26rem;
    --content-width-max: 75rem;

    /* breakpoints */
    @custom-media --small only screen and (min-width: 34rem);
    @custom-media --medium only screen and (min-width: 48rem);
}
